extends index.pug

block content
  div(class="row")
    form(class="col s12" action="/addGrat" method="post")
      div(class="row")
        div(class="input-field col s12")
          i(class="material-icons prefix") mode_edit
          textarea(id="textarea1" name="gratitude" class="materialize-textarea") Right now, I am grateful for...
          label(for="textarea1") Textarea
          button(type="submit" class="btn btn-link") Submit


