extends index.pug
block content
  .container
    h3(class="specStyle") Remember, you are grateful for . . .
      p(class="styled")  #{singleGrat.message}
        div
         img(src="/public/img/gratIcon.png" alt="Image Title" class="padding")