extends index.pug
block content
  h1 autoGrats Log
  a(type="button" class="btn btn-link" href="/employees-add") Add autoGrat
  .Grats-table

    table(class="striped")
      thead
        tr
          th Date Created
          th autoGrat Message
      tbody
        each grat in GratsData
          tr
            td #{grat.date_created}
            td #{grat.message}
            td
            //- a(type="button" class="btn btn-link" href=`/employees/${employee.id}`) View