nav
  .nav-wrapper
    a.brand-logo(href='/') Brand
    a.right.button-collapse(href='#', data-activates='nav-mobile')
      i.mdi-navigation-more-vert
    ul#nav-mobile.right.hide-on-med-and-down
      li: a(href='#') Home
      li: a(href='#') autoGrat Log
    form
      //- .input-field
      //-   input#search(type='search')
      //-   label(for='search'): i.mdi-action-search
        i.mdi-navigation-close.close